.layout {
    @apply flex flex-col h-svh
}

.toolbar {
    @apply flex justify-between p-0;

    .logo {
        @apply flex items-center gap-2.5;
    }

    &__items {
        @apply hidden;

        @media (min-width: 959px) {
            @apply flex-grow flex justify-evenly; 
        }
    }

    &__icons {
        @apply flex gap-2.5;

        .hamburguer-icon {
            @media (min-width: 959px) {
                @apply hidden; 
            }
        }
    }
}

.sidenav-container {
    height: calc(100svh - 56px);
}

.sidenav {
    @apply rounded-none w-full;
}

.mat-drawer-content {
    overflow: visible; // Remove its own scroll and allow overflow in parents element (mat-side-container)
}

.mat-drawer-container {
    overflow: visible; // Remove its own scroll and allow overflow in parents element (html)
}

.mat-drawer-container-has-open{
    overflow: hidden; // Avoid seeing content behind the open sidenav
}

// TODO: improve this and then remove
.mat-mdc-list-item-interactive::before {
    all: unset;
}
