<mat-toolbar class="toolbar">
    <a class="logo" routerLink="">
        <svg width="38" height="38" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="24" cy="24.7396" r="24" fill="#D9D9D9"/>
        </svg>
        <span>Logo</span>
    </a>
    
    <div class="toolbar__items">
        <button mat-button routerLink="">Silla</button>
        <button mat-button disabled>Accesorios</button>
        <button mat-button disabled>Servicios</button>
        <button mat-button disabled>Información</button>
    </div>
    
    <div class="toolbar__icons">
        <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
        <button mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
        <button mat-icon-button><mat-icon>language</mat-icon></button>
        <button class="hamburguer-icon" mat-icon-button (click)="sidenav.toggle()"><mat-icon>{{ sidenav.opened ? 'close' : 'menu'}}</mat-icon></button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="over">
        <mat-nav-list>
            <a mat-list-item>Silla</a>
            <a mat-list-item>Accesorios</a>
            <a mat-list-item>Servicios</a>
            <a mat-list-item>Información</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>

