<!-- GRID LIST -->
<div class="foam-grid">
  @for (foamOption of foamOptions; track foamOption.label) {
    <div class="foam-grid__item">
      <!-- CARD -->
      <mat-card class="foam-card" appearance="outlined" (click)="changeFoam(foamOption, part)">
        <img class="foam-card__img" [src]="foamOption.imgPath">
        <mat-card-header class="foam-card__header">
          <mat-card-title>{{ foamOption.label }}</mat-card-title>
        </mat-card-header>
        @if (calculatePriceDifference(foamOption.price) !== 0) {
          <div class="price-badge">{{ calculatePriceDifference(foamOption.price) > 0 ? '+' : ''  }}{{ calculatePriceDifference(foamOption.price) }} €</div>
        }
      </mat-card>
    </div>
  }
</div>
