<mat-tab-group class="tab">
  @for (tab of tabs; track tab.label) {
    <mat-tab [label]="tab.label"  [disabled]="!tab.subtabs">
      <mat-tab-group class="subtab">
        @for (subtab of tab.subtabs; track subtab.label) {
          <mat-tab [label]="subtab.label" [disabled]="disableCustomization(tab, subtab)">
            @if (subtab?.component) {
              <ng-container [ngComponentOutlet]="getComponent(subtab.component)" [ngComponentOutletInputs]="{ part: tab.part }"></ng-container>
            }
          </mat-tab>
        }
      </mat-tab-group>
    </mat-tab>
  }
</mat-tab-group>

