<!-- GRID LIST -->
<div class="color-grid">
  @for (colorOption of colorOptions; track colorOption.label) {
    <div class="color-grid__item">
      <!-- CARD -->
      <mat-card class="color-card"  [class.selected]="isSelectedOption(colorOption)"  appearance="outlined" (click)="changeColor(colorOption, part)">
        <img class="color-card__img" [src]="colorOption.imgPath">
        <mat-card-header class="color-card__header">
          <mat-card-title>{{ colorOption.label }}</mat-card-title>
        </mat-card-header>
        @if (calculatePriceDifference(colorOption.price) !== 0) {
          <div class="price-badge">{{ calculatePriceDifference(colorOption.price) > 0 ? '+' : ''  }}{{ calculatePriceDifference(colorOption.price) }} €</div>
        }
      </mat-card>
    </div>
  }
</div>
