<div class="layout">
  <div class="cover">
    <!-- COVER ANIMATION CONTENT -->
    <div class="cover__animation-content">
      <canvas #coverAnimation class="cover__animation"></canvas>
    </div>
    
    <!-- COVER VIDEO CONTENT -->
    <div class="cover__video-content">
        <video #coverVideo muted playsinline autoplay class="cover__video">
            <source src="videos/mobile.mp4" type="video/mp4" media="(max-width: 959px)">
            <source src="videos/full.mp4" type="video/mp4" media="(min-width: 960px)">
        </video>
    </div> 
    
    <!-- PRODUCT CARD -->
    <mat-card class="product-card">
        <mat-card-header>
          <mat-card-subtitle>Silla ergonómica</mat-card-subtitle>
          <mat-card-title class="product-card__title">Modelo custom <mat-chip>Nuevo</mat-chip></mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item class="product-card__item">Gran capacidad de personalización</mat-list-item>
            <mat-list-item class="product-card__item">Materiales de máxima calidad</mat-list-item>
          </mat-list>
        </mat-card-content>
    </mat-card>
    
    <!-- COVER BUTTON CONTAINER -->
    <div class="cover__button-container">
        <button mat-fab extended class="primary-button" routerLink="configurator">Personalizar</button>
        <p>Disponible desde 189€*</p>
    </div>
  </div>
</div>
