<div class="layout">
    <div class="cover-lottie">
        <canvas #lottieAnimation class="cover-lottie__canvas"></canvas>
    </div>
    
    <div class="video-container">
        <video muted autoplay class="cover-video">
            <source src="animations/mobile.mp4" type="video/mp4" media="(max-width: 960px)">
            <source src="animations/full.mp4" type="video/mp4" media="(min-width: 960px)">
        </video>
        <!-- cargar video mobile-->
    </div> 

    <mat-card class="product-card">
        <mat-card-header>
          <mat-card-subtitle>Silla ergonómica</mat-card-subtitle>
          <mat-card-title class="product-card__title">Modelo custom <mat-chip>Nuevo</mat-chip></mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            <mat-list-item class="product-card__list-item">Gran capacidad de personalización</mat-list-item>
            <mat-list-item class="product-card__list-item">Materiales de máxima calidad</mat-list-item>
          </mat-list>
        </mat-card-content>
    </mat-card>
    
    <div>
        <button mat-fab extended class="primary-button">Personalizar</button>
        <p style="place-self: center;">Disponible desde 249€*</p>
    </div>
</div>
