.cover {
    @apply flex flex-col items-center relative;
}

.cover__animation-content {
    @apply w-[20rem] max-w-full mt-2.5;

    @media (min-width: 959px) {
        @apply w-[25rem];
    }

    .cover__animation {
        // TODO: Find the way of editing lottie without controlling aspect ratio in web
        @apply object-contain w-full aspect-[572/88];
    }
}

.cover__video-content { 
    @apply w-[95%];

    @media (min-width: 959px) {
        @apply w-[70%];
    }

}

.product-card {
    @media (min-width: 959px) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.product-card__title {
    color: rgb(0, 33, 165);
}

.product-card__item {
    @apply px-0;
}

.cover__button-content {
    @apply flex flex-col items-center;
}

.primary-button {
    @apply border-solid border-2 border-black;
}