.layout {
    @apply flex flex-col items-center h-full;
}

.cover-lottie {
    @apply place-self-center w-[20rem] max-w-full mt-2.5;

    @media (min-width: 959px) {
        @apply w-[25rem];
    }

    &__canvas {
        // TODO: Find the way of editing lottie without controlling aspect ratio in web
        @apply object-contain w-full aspect-[572/88];
    }
}

.video-container { 
    @apply w-[95%];

    @media (min-width: 959px) {
        @apply w-[70%];
    }

}

.product-card {
    @media (min-width: 959px) {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.product-card__title {
    color: rgb(0, 33, 165);
}

.product-card__list-item {
    @apply px-0;
}

.primary-button {
    @apply border-solid border-2 border-black;
}