.custom-container {
    @apply container max-w-full px-1; //Max-width to contain all app-root space
    height: 100%; // Subtract toolbar height to prevent overflow

    @media (min-width: 768px) and (max-width: 1536px) {
        padding-inline: 10%;
    }

    @media (min-width: 1537px) {
        padding-inline: 20%;
    }
}