.upholstery-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.upholstery-card {
  display: flex;
  cursor: pointer;

  &.selected {
    box-shadow: inset 0 0 8px #96bde4; 
    border: 3px solid #1976d2;
  }
}

.upholstery-card__img {
  margin: 5px;
  border: 2px solid black;
  border-radius: 8px;
}

.upholstery-card__header {
  padding: 0;
  place-self: center;
}

.price-badge {
  width: fit-content;
  position: absolute;
  top: -5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  padding-inline: 5px;
}