<div class="configurator">
  <div class="configurator__canvas-container">
    <canvas #canvas class="configurator__canvas"></canvas>
    <!-- TODO: improve this -->
    <div class="price-display">
      <button class="configurator__details-button" mat-fab extended (click)="toggleDetails()">
        <mat-icon>{{ showDetails ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>{{ chairStore.totalPrice() }}€
      </button>
      @if(showDetails) {
        <mat-list class="configurator__details">
          @for (chairPart of chairStore.displayableParts(); track chairPart) {
            <div mat-subheader>{{ chairPart.label }}</div>
            @for (detail of chairPart.details; track detail) {
              @if (detail.label) {
                <mat-list-item>
                  <div matListItemLine>{{ detail.label }}</div><span>{{detail.price}}€</span>
                </mat-list-item>
              }
            }
          }
        </mat-list>
      }
    </div>
    <button class="configurator__buy-button" mat-fab disabled><mat-icon>add_shopping_cart</mat-icon></button>
  </div>
  <app-tab-group class="configurator__menu"></app-tab-group>
</div>


