@use './styles/material.scss' as mat;
@use './styles/tailwind.scss' as tailwind;

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.md-hidden {
  @media (min-width: 959px) {
    display: none !important;
  }
}